{% extends 'student/studentbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


</head>
<br><br>
<div class="container my-4">
    <div class="jumbotron" style="background-color: snow;">

	      <h3 class="text-info text-center" style="font-family:Arial; color: black; font-weight: bold;">Before starting the exam, read the following rules:</h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-info">

                    <h4 class="card-title" style="color: black; font-size: 20px; font-weight: bold;">Exam Details :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal;">
                            <li>Exam Name : {{course.course_name}}</li>
                            <li>Total Question : {{total_questions}}</li>
                            <li>Total Marks : {{total_marks}}</li>
                        </ul>
                    <p></p>



                    <h4 class="card-title" style="color: black; font-size: 20px; font-weight: bold;">Rules :</h4>
                    <p class="card-text">
                        </p><ul style="list-style:decimal; font-family: times new roman;">
                            <li>Read every question thoroughly.</li>
                            <li>Exam will be based on Multiple Choice Question (MCQs).</li>
                            <li><span class="text-danger">Only one choice is correct.</span></li>
                            <li>Every question carry equal marks.</li>
                            <li>Answer the question as quick as possible.</li>
                            <li>If you press refresh or go back to the previous page,
                                there will be a new question for you and the question you were
                                on will be counted as attempted.</li>
                        </ul>
                    <p></p>
                    <a href="{% url 'start-exam' course.id  %}" class="btn btn-info">Start Exam</a>
                </div>  
                <div class="card-footer" style="color: rgb(129, 27, 66); font-family: Arial;
                font-size: 40px; text-align: center; font-weight: bold;">Best Of Luck</div>
            </div>  
        </div>  

    </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}